/*
Theme Name: Nish
Theme URI: https://wordpress.org/
Author: RiponTopu
Author URI: https://wordpress.org/
Description: this theme only for nish site
Version: 1.0
License: GNU General Public License
License URI: http://
Tags: black, blue, gray, pink, purple, white, yellow, dark, light, two-columns, left-sidebar, fixed-layout, responsive-layout, accessibility-ready,
*/

#carousel-example-generic {
}

.header_area {
	margin: 20px 0;
}

.logo {
  width: 130px;
}
.logo > a {
}

.logo > a > img {
	width: 100%;
}

.main_menu {
    float: right;
	margin-top: 7px;
}
.main_menu > ul {
    display: block;
    list-style: outside none none;
}
.main_menu > ul > li {
    display: inline-block;
	margin-right: 25px;
}
.main_menu li:last-child {
  margin-right: 0;
}
.main_menu > ul > li > a {
    color: #424242;
	font-size: 16px;

	text-decoration: none;
}
.main_menu> ul> li> a:hover{
	color:#92C143;
}

.slider_area {
}

]

.slide {
}

.item {
}
.item img {
  width: 100%;
}

.carousel-caption {
}

.carousel-caption > h3 {
}

.carousel-caption > p {
}

.item > img {
}

.left {
}

.carousel-control {
}

.right {
}

.service_area {
}

.post_area {
}

.about_area {
}

.footer_area {
}



